* {
	margin: 0;
	padding: 0;
	color: white;
	font-family: 'Open Sans';
}

body {
	background-color: #1c2837;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100dvh;
}

#main {
	display: flex;
	flex-wrap: nowrap;
	/* border: 3px black solid; */
	height: 590px;
}

#grid {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	background-color: white;
	justify-content: center;
	align-items: center;
	height: 600px;
	width: 600px;
	border: 10px #199073 solid;
	margin-left: 50px;
}

#buttons {
	margin-top: 27px;
}

#buttons > button {
	display: block;
	box-sizing: border-box;
	width: 311px;
	height: 70px;
	background-color: #1c2837;
	border: 2px #199073 solid;
	border-radius: 15px;
	font-size: 30px;
	font-weight: 0;
	cursor: pointer;
}

#rgb {
	margin: 32px 0px;
}

#etch{
	font-size: 105px;
	margin: -30.5px 0 -48px -8px;
	color: #f4bb53;
}

#sketch {
	font-size: 105px;
	margin: -30px 0  0 -5px;
	color: #f4bb53;
}

#a {
	font-size: 90px;
	margin-left: -3px;
	color: #199073;
}
